{% extends 'base.html' %}
{% block title %}Fetching From Food Database . . . .{% endblock %}

{% block body %}
  {% for ingredient in ingredients %}
    <p>
      <form method='POST' action="/recipe/{{ recipe_id }}/add-ingredient">
        <li id="ingredient-item"><b>{{ ingredient['food']['label'] }}:</b> {{ (ingredient['food']['nutrients']['ENERC_KCAL'])|int }} calories</li>
        <input type="radio" name="name" value={{ ingredient['food']['label'] }}/>
        <input type="hidden" name="calories" value={{ ingredient['food']['nutrients']['ENERC_KCAL'] }}/>
        <input type="submit" value="Select Ingredient"/>
      </form>
    </p>

  {% endfor %}
{% endblock %}