{% extends 'base.html' %}
{% block title %}Cleanse Details{% endblock %}

{% block body %}

    {% if user_cleanse_recipes|length == 0 %}
        <h2>You have no smoothies inside this cleanse...Add one!</h2></br>
        helllloooo
            <ul>
                {% if user_cleanse.active == True %}
                <li>Current Cleanse? Yes</li>
                {% else %}
                <li>Current Cleanse? No</li>
                {% endif %}
                <li><a href="/add_recipe_empty/{{ user_cleanse.user_cleanse_id }}">Add a Smoothie</a></li>
            </ul>

    {% else %}
        {% for user_cleanse_recipe in user_cleanse_recipes %}
            <h2>{{ user_cleanse_recipe.user_cleanse.cleanse.description }}</h2>
            <h2>Smoothies in this Cleanse:</h2>
            <ul>
                <li>{{ user_cleanse_recipe.recipe.name }}</li>
            </ul>
        <a href="/add_recipe/{{ user_cleanse_recipe.user_cleanse.user_cleanse_id }}">Add another smoothie to this cleanse!</a>
        {% endfor %}
    {% endif %}
    
{% endblock %}