{% extends 'base.html' %}
{% block title %}Rejuvenate{% endblock %}

{% block body %}
  <h1>Welcome!</h1>

  <h2>Navigation</h2>
  <ul>
    {% if session.get('username') %}
      <li><a href="/profile">Profile Settings</a></li>
      <li><a href="/user_cleanses">My Cleanses</a></li>
      <li><a href="/recipes">View all recipes in entire website!</a></li>
      <li><a href="/logout">Logout</a></li>
    {% else %}
      <li><a href="/login">Login</a></li>
      <li><a href="/signup">Sign Up</a></li>
      <li><a href="/recipes">View all recipes in database</a></li>
    {% endif %}
  </ul>
{% endblock %}