{% extends 'base.html' %}
{% block title %}Rejuvenate{% endblock %}

{% block body %}
  {% if 'user_id' in session %}
    <div class="row">
      <div class="col-2">
        <img id="smoothie-hp" src="/static/img/smoothie.png" alt="">
      </div>
    </div>
  {% else %}
    <div class="row">
      <div class="col">
        <img id="smoothie-hp" src="/static/img/smoothie.png">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h3>Search over 900,000 food items:</h3>
        <form action="/search" class="form-inline">
          <input class="form-control mr-sm-2" type="text" name="name">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </div>
  {% endif %}
{% endblock %}