{% extends 'base.html' %}
{% block title %}Login{% endblock %}

{% block body %}
<div class="row">
    <div class="col-8">
      <img src="/rejuvenate/static/img/bananastrawberry.gif">
    </div>
    <div class="col-8 offset-8">
      <h1>Log In</h1>
    
      <form action="/login" method="POST">
        <p>
          <input type="text" name="username" placeholder="Username">
        </p>
        
        <p>
          <input type="text" name="email" placeholder="Email Address">
        </p>
    
        <p>
          <input type="password" name="password" placeholder="Password">
        </p>
    
        <p>
          <input type="submit" value="Login">
        </p>
      </form>
    </div>
</div>

  
{% endblock %}