{% extends 'base.html' %}
{% block title %}Fetching From Food Database . . . .{% endblock %}

{% block body %}
      <div class="row">
          <div class="col">
            {% if ingredients|length == 0 %}
              No Search Results rendered. <a href="/">Please try again.</a> 
            {% endif %}
          </div>
        <h2>Search Results</h2>
        {% for ingredient in ingredients %}
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="well search-result">
            <div class="row">
              <div class="col-xs-6 col-sm-9 col-md-9 col-lg-10 title">
                <form method='POST' action="">
                    <img src="{{ ingredient['food']['image']}}" alt={{ ingredient['food']['label'] }}>
                      <h5 id="ingredient-item"><b>{{ ingredient['food']['label'] }}</h5>
                      <p>{{ (ingredient['food']['nutrients']['ENERC_KCAL'])|int }} calories</p>
                </form>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
{% endblock %}