{% extends 'base.html' %}
{% block title %}Specific Recipe{% endblock %}

{% block body %}
<h2>Ingredients in {{ recipe.name }}:</h2>
{% for recipe_ingredient in recipe_ingredients %}
<ul>
    <li>{{ recipe_ingredient.ingredient.name }}, Calories: {{ recipe_ingredient.ingredient.calories }}</li>
</ul>
{% endfor %}
</br>

<h3>Add an ingredient:</h3>
<form method='POST' action="/recipe/{{ recipe.recipe_id }}/add-ingredient">
  Ingredient: <input type="text" name="name">
  <input type="submit" value="Search">

</form>

{% endblock %}