{% extends 'base.html' %}
{% block title %}All Smoothies{% endblock %}

{% block body %}
{% for recipe in recipes %}
    {{ recipe.name }}
    {% for ingredient in ingredients %}
                    {% for recipe_ingredient in recipe_ingredients %}
                      {% if ((recipe_ingredient.recipe_id == recipe.recipe_id) and (recipe_ingredient.ingredient_id == ingredient.ingredient_id)) %}
                        <li class="list-group-item">{{ ingredient.name }}</li>
                      {% endif %}
                    {% endfor %}
                  {% endfor %}
{% endfor %}

{% endblock %}