{% extends 'base.html' %}
{% block title %}Specific Recipe{% endblock %}

{% block body %}
<h2>Ingredients in {{ recipe.name }}:</h2>
{% for recipe_ingredient in recipe_ingredients %}
<ul>
    <li>{{ recipe_ingredient.ingredient.name }}, 
      Calories: {{ recipe_ingredient.ingredient.calories }},
      Measurement: {{ recipe_ingredient.ingredient.measurement }}
    </li>
</ul>
{% endfor %}
</br>

<p>
  <h3>Add an ingredient:</h3>
  <form action="/recipe/{{ recipe.recipe_id }}/add-ingredient">
    Ingredient: <input type="text" name="name">
    <input type="submit" value="Search">
  </form>
</p>
<a href="/recipe/{{ recipe.recipe_id }}"">Go Back</a>



{% endblock %}