{% extends 'base.html' %}
{% block title %}Specific Recipe{% endblock %}

{% block body %}
<h2>Ingredients in {{ recipe.name }}:</h2>
{% for recipe_ingredient in recipe_ingredients %}
<div class="card" style="width: 18rem;"></div>
  <img class="card-img-top" style="width: 18em;" src="" alt={{ recipe_ingredient.ingredient.name }}>
  <div class="card-body">
    <h5 class="card-title">{{ recipe_ingredient.ingredient.name }}</h5>
      <p class="card-text">Calories: {{ recipe_ingredient.ingredient.calories }},
      Measurement: {{ recipe_ingredient.ingredient.measurement }}</p>
  </div>
</div>
{% endfor %}
</br>

<p>
  <h3>Add an ingredient:</h3>
  <form class="form-inline" action="/recipe/{{ recipe.recipe_id }}/add-ingredient">
    Ingredient: <input class="form-control mr-sm-2" type="text" name="name">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</p>
<a href="/recipe/{{ recipe.recipe_id }}"">Go Back</a>



{% endblock %}