{% extends 'base.html' %}
{% block title %}Sign Up{% endblock %}

{% block body %}
<div class="row">
  <div class="col">
    <img src="/static/img/bananastrawberry.gif">
  </div>
    <div class="col offset-4">    
      <h2>Create an Account</h2>
      <form action="/signup" method="POST">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Username">
          </div>
          <div class="form-group">
            <label for="email">Email address</label>
            <input type="text" class="form-control" id="email" name="email" placeholder="Email">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
          </div>
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Name">
          </div>
          <div class="form-group">
            <label for="location">Location</label>
            <input type="text" class="form-control" id="location" name="location" placeholder="Location">
          </div>
          <div class="form-group">
            <label for="about">About You</label>
            <input type="text" class="form-control" id="about" name="about" placeholder="Something About You?">
          </div>
        <button type="submit" class="btn btn-primary">Sign Up!</button>
      </form>
    </div>
</div>

  
{% endblock %}