{% extends 'base.html' %}
{% block title %}Sign Up{% endblock %}

{% block body %}
<div class="row">
    <div class="col-8 offset-8">    
      <h2>Create an Account</h2>
      <form action="/signup" method="POST">
        <p>
          <input type="text" name="username" placeholder="Username">
        </p>
        
        <p>
          <input type="text" name="email" placeholder="Email">
        </p>
    
        <p>
          <input type="password" name="password" placeholder="Password">
        </p>
    
        <p>
          <input type="text" name="name" placeholder="Name">
        </p>
    
        <p>
          <input type="text" name="location" placeholder="Location">
        </p>
    
        <p>
          <input type="text" name="about" placeholder="Something About You?">
        </p>
    
        <p>
          <input type="submit" value="Sign Up!">
        </p>
      </form>
    </div>
</div>

  
{% endblock %}