{% extends 'base.html' %}
{% block title %}Start Cleanse{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <h2>Start A New Cleanse</h2>
            <form action="/start_cleanse" method="POST">
                <p>
                    Start Date <input type="date" name="start_date">
                </p>
                
                <p>
                    End Date <input type="date" name="end_date">
                </p>
            
                <p>
                    Viewable by the public? <input type="checkbox" name="public" checked>
                </p>
        
                <p>
                    Description: <input type="text" name="description">
                </p>
            
                <p>
                  <input type="submit" value="Start!">
                </p>
              </form>
        </div>
    </div>
{% endblock %}