{% extends 'base.html' %}
{% block title %}Profile for {{ session['username'] }} {% endblock %}

{% block body %}
<div class="row">
    <div class="col">
      <div class="text-center">
        <h3 class="display-4">
          {{ user.name }}
        </h3>
        <div class="lead">
          <i class="ni location_pin mr-2"></i>{{ user.location }}
        </div>
        <div class="h5 mt-4">
          <i class="ni business_briefcase-24 mr-2"></i>Member Since:
        </div>
        <div style="font-family: 'Lato', sans-serif;">
          <i class="ni education_hat mr-2"></i>{{ user.member_since.strftime("%A %d %B %Y") }}
        </div>
        <hr class="my-4">
        <p class="lead">{{ user.about }}</p>
      </div>
    </div>
</div> 
</div>
<div class="row">
  <div class="col">
    <img class="img-fluid" src="/static/img/fvgs.jpg" height=100% width=100%>
  </div>
</div>
{% endblock %}